$allHeight: 112rpx;
.login {
  width: 100%;

  &-background-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  &-wrapper {
    width: 100vw;
    position: absolute;
    top: 0;
  }
  .left-title {
    width: 100vw;
    color: #fff;
    font-size: 34rpx;
    padding-left: 34rpx;
    padding-top: $allHeight;
    padding-bottom: 26rpx;
  }
  &-button {
    position: relative;
    &-img {
      img {
        width: 750rpx;
        height: 635rpx;
      }
    }
    &-form {
      position: absolute;
      top: 66rpx;
      left: 50%;
      transform: translateX(-50%);
      width: 670rpx;
      .sel-login {
        padding: 0 40rpx;
        margin-bottom: 10rpx;
        .sel-pro-login {
          font-size: 40rpx;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.85);
        }
        .sel-checket {
          font-size: 30rpx;
          font-weight: normal;
          letter-spacing: 1px;
          padding: 10rpx 20rpx;
          border-radius: 20rpx;
          border: 1rpx solid rgb(42, 130, 228);
          color: rgb(42, 130, 228);
          box-shadow: 1.2px 1.8px 2.3px rgba(0, 0, 0, 0.018), 2.7px 4.1px 5.4px rgba(0, 0, 0, 0.026), 4.9px 7.4px 9.7px rgba(0, 0, 0, 0.032),
            8.2px 12.4px 16.1px rgba(0, 0, 0, 0.038), 13.5px 20.4px 26.5px rgba(0, 0, 0, 0.044), 23.6px 35.6px 46.2px rgba(0, 0, 0, 0.052), 51px 77px 100px rgba(0, 0, 0, 0.07);
        }
      }
      .form-wra {
        margin-top: 40rpx;
        .form-list {
          padding: 0 40rpx;

          .no-pws {
            width: 28%;
            font-size: 12px;
            color: #5680fa;
          }
        }
        .uni-forms-item {
          margin-bottom: 35rpx;
          border-bottom: 1px solid #d6d6d6;
          /deep/.uni-forms-item__content {
            display: flex;
            align-content: center;
          }
        }

        .form-item {
          color: #fff;
          &-button {
            background: rgb(24, 144, 255);
            width: 540rpx;
            padding: 30rpx 0;
            border-radius: 50rpx;
          }
          .button-hover {
            color: inherit;
          }
        }
      }
    }
  }
  button:after {
    display: none;
  }
  .hostUnit {
    margin-top: 20rpx;
    font-size: 24rpx;
    color: #fff;
    opacity: 0.7;
  }
  &-wechat {
    margin-top: 44rpx;
    margin-bottom: 42rpx;
    .wechat-img {
      position: relative;
    }
    .wechat-img:before {
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      content: '';
      height: 2rpx;
      top: 50%;
      left: -260rpx;
      width: 260rpx;
    }
    .wechat-img:after {
      position: absolute;
      background: rgba(255, 255, 255, 0.4);
      content: '';
      height: 2rpx;
      top: 50%;
      width: 260rpx;
    }
    .wechat-login {
      text-align: center;
      font-size: 24rpx;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &-bottom {
    bottom: 0;
    // position: absolute;
    img {
      width: 100%;
    }
  }
}
