.view-grid-card {
  background: linear-gradient(180deg, #ffffff 0%, #f3f4f8 24%, #f3f4f8 100%) #f4f7ff;
}
.header-sel {
  /deep/.uni-select {
    width: 150rpx;
    border: none;
    padding: 0;
  }
  /deep/.uni-select__input-text {
    font-weight: 500;
    color: #ffffff;
    font-size: 36rpx;
  }
  /deep/.uni-icons {
    color: #ffffff !important;
  }
  /deep/.uni-searchbar {
    // border: 1px solid #eee;
    border: 1px solid #eee;
    border-radius: 56rpx;
    box-shadow: 0rpx 4rpx 40rpx 0rpx rgba(74, 126, 210, 0.1);
    margin: 0 32rpx;
    padding: 10rpx 42rpx;
    background-color: #fff;
  }
  /deep/.uni-searchbar__box {
    justify-content: flex-start;
  }
  /deep/.uni-searchbar__text-placeholder {
    width: 100%;
    text-align: center;
  }
  &-bgimg {
    position: relative;
  }
  &-content {
    position: absolute;
    top: 0;
    margin-left: 68rpx;
    margin-top: 14rpx;
  }
  &-search {
    position: relative;
    top: -48rpx;
  }
}
.content-car {
  margin: 0 32rpx;
  padding-left: 32rpx;
  background: #fff;
  border-radius: 16rpx;
  box-shadow: 0rpx 4rpx 40rpx 0rpx rgba(112, 149, 249, 0.1);
  &-title {
    border-bottom: 2rpx solid #ebedf0;
    &-left {
      font-weight: 400;
      color: #333333;
      font-size: 32rpx;
      padding: 22rpx 0rpx 22rpx 0;
    }
    &-right {
      background: #597ef7;
      border-radius: 0rpx 16rpx 0rpx 16rpx;
      font-size: 22rpx;
      color: #fff;
      font-weight: 400;
      padding: 12rpx 20rpx 12rpx 16rpx;
    }
  }
  &-content {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    font-size: 28rpx;
    padding: 16rpx 0 10rpx 0;
    border-bottom: 2rpx solid #ebedf0;
    li {
      display: flex;
      margin-bottom: 8rpx;
      span:first-child {
        width: 140rpx;
      }
      // justify-content: space-between;
    }
    &-btm {
      font-weight: 400;
      font-size: 28rpx;
      padding-top: 10rpx;
      padding-bottom: 20rpx;
      padding-right: 16rpx;
      &-l {
        color: rgba(0, 0, 0, 0.65);
        padding-top: 12rpx;
        .shoucan{
          margin-left: 32rpx;
        }
        img {
          margin-right: 8rpx;
        }
      }
      &-r {
        padding: 10rpx 56rpx;
        background: #597ef7;
        color: #fff;
        border-radius: 32rpx;
      }
    }
  }
}
